<h2>
    <span>Quản lý đối tác</span>
</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Đối Tác</th>
            <th>Mã Đối Tác</th>
            <th>Địa Chỉ</th>
            <th>Số Điện Thoại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let partner of list | paginate:{itemsPerPage:5,currentPage:p}; let stt=index;">
            <td>{{stt+1}}</td>
            <td>{{partner.name}}</td>
            <td>{{partner.code}}</td>
            <td>{{partner.address}}</td>
            <td>{{partner.phone}}</td>
            <td>
                <div *ngIf="partner.code != 'KC'&&partner.code != 'NB'; else elseBlock">
                    <a [routerLink]="['/doi-tac/chinh-sua/',partner.id]" class="btn btn-primary btn-sm">Sửa</a>

                </div>
                <ng-template #elseBlock>
                    <a [routerLink]="['/doi-tac/chinh-sua/',partner.id]" class="btn btn-primary btn-sm" disabled>Sửa</a>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div class="panel-footer">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>