<h2>
    <span>Sửa kho hàng</span>
</h2>
<form action="" method="POST" [formGroup]="warehouseForm" (submit)="onSubmit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
        <label for="">Đối Tác</label>

        <select formControlName="partnerId" class="form-control">
            <option [value]="partner.id" *ngFor="let partner of partners">{{partner.name}}</option>
        </select>

        <div *ngIf="submited && f['partnerId'].errors">
            <small class="help-block" *ngIf="f['partnerId'].errors['required']">Vui lòng chọn đối tác</small>
        </div>

    </div>


    <div class="form-group">
        <label for="">Tên Kho</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Input field">
        <div *ngIf="submited && f['name'].errors">
            <small class="help-block" *ngIf="f['name'].errors['required']">Vui lòng nhập tên kho</small>
        </div>
    </div>

    <div class="form-group">
        <label for="">Mã Kho</label>
        <input type="text" class="form-control" formControlName="code" placeholder="Input field">
        <div *ngIf="submited && f['code'].errors">
            <small class="help-block" *ngIf="f['code'].errors['required']">Vui lòng nhập mã kho</small>
        </div>
    </div>

    <div class="form-group">
        <label for="">Địa Chỉ</label>
        <input type="text" class="form-control" formControlName="address" placeholder="Input field">
        <div *ngIf="submited && f['address'].errors">
            <small class="help-block" *ngIf="f['address'].errors['required']">Vui lòng nhập địa chỉ</small>
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="">Sức Chứa</label>
        <input type="text" class="form-control" formControlName="capacity" placeholder="Input field">
        <div *ngIf="submited && f['capacity'].errors">
            <small class="help-block" *ngIf="f['capacity'].errors['required']">Vui lòng nhập sức chứa</small>
        </div>
    </div> -->
    <button type="submit" class="btn btn-primary">Sửa</button>
</form>